{% extends 'base.html' %}

{% block title %}{{ block.super }} - поиск{% endblock %}

{% block content %}
    <div class="col-md-4 py-4">
    <a id="nav" class="anchor"></a>
        {% include 'inclusions/messages.html' %}
        <div class="card">
            <div class="card-header">
                Поиск анализов
            </div>
            <div class="card-body">
                <form method="post" action="/results/">
                    {% csrf_token %}
                    <input type="number" name="personal_number" placeholder="СНИЛС" class="form-control mt-3" required>
                    <input type="text" name="name" placeholder="Имя" class="form-control mt-3" required>
                    <input type="text" name="surname" placeholder="Фамилия" class="form-control mt-3" required>
                    <input type="text" name="patronymic" placeholder="Отчество" class="form-control mt-3">
                    <input type="date" name="birthday" class="form-control mt-3" required>
                    <button type="submit" name="results" class="btn btn-primary float-end mt-3 w-50">Поиск</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
