<!-- Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Start Widget -->
    <div class="card my-4">
        <h5 class="card-header">Добро пожаловать</h5>
        <div class="card-body mt-3" align="justify">
            Более того, реакция все еще интересна для многих. Стратегический маркетинг правомочен.
            Дело в том, что воспитание амбивалентно. Согласно ставшей уже классической работе Филипа Котлера,
            душа интуитивно начинает стратегический рыночный план.
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Блок 1</h5>
        <div class="card-body">
            <ul class="list-group mt-3">
                <a href="{% url 'search' %}#nav" class="list-group-item list-group-item-action">Поиск анализов</a>
                <a href="#nav" class="list-group-item list-group-item-action">Кнопка 2</a>
                <a href="#nav" class="list-group-item list-group-item-action">Кнопка 3</a>
            </ul>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">Блок 2</h5>
        <div class="card-body">
            <ul class="list-group mt-3">
                <a href="#nav" class="list-group-item list-group-item-action">Кнопка 1</a>
                <a href="#nav" class="list-group-item list-group-item-action">Кнопка 2</a>
            </ul>
        </div>
    </div>
</div>
