{% extends 'base.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block title %}
    {{ block.super }} - результаты
{% endblock %}

{% block content %}
    <!-- Blog Entries Column -->

    <div class="col-md-8">
        <a id="nav" class="anchor"></a>
        <a id="help"><h1 class="my-4">{% block category %}{{ title|capfirst }}{% endblock %}</h1></a>
        {% include 'inclusions/messages.html' %}

        <!-- Blog Post -->
        <div class="card mb-4">
            <h5 class="card-header">Результаты анализа от {{ detail.datetime }}</h5>
            <div class="card-body">
                <p class="card-text mt-3" align="justify">
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </p>
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    const DATA_COUNT = 7;
    const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};


    const labels = {{data.labels|safe}}
    const data = {
      labels: labels,
      datasets: [
        {
          label: 'Showcase',
          data: {{data.data|safe}},
          borderColor: "rgb(54, 162, 235)",
          backgroundColor: "rgb(54, 162, 235, 0.7)",
        },
        {
          label: 'Normals',
          data: {{data.normals|safe}},
          borderColor: "rgb(255, 159, 64)",
          backgroundColor: "rgb(255, 159, 64, 0.7)",
        }
      ]
    };



    const config = {
      type: 'bar',
      data: data,
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Your blood results'
          }
        }
      },
    };


  // === include 'setup' then 'config' above ===

  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

</script>
{% endblock %}
