{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - результаты
{% endblock %}

{% block content %}
    <!-- Blog Entries Column -->

    <div class="col-md-8">
        <a id="nav" class="anchor"></a>
        <a id="help"><h1 class="my-4">{% block category %}{{ title|capfirst }}{% endblock %}</h1></a>
        {% include 'inclusions/messages.html' %}

        <!-- Blog Post -->
        <div class="card mb-4">
            <h5 class="card-header">Результаты анализа от {{ detail.datetime }}</h5>
            <div class="card-body">
                <p class="card-text mt-3" align="justify">
                    <div>
                        {% for label, normal_min, normal_max, user_data, info_name, info_text in data %}
                            <canvas id="myChart{{ label }}"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                            <script>
                                const data{{ label }} = {
                                    labels: ['Минимальная норма', 'Твой результат', 'Максимальная норма'],
                                    datasets: [
                                        {
                                            label: '{{ info_name }}',
                                            data: [{{ normal_min|safe }}, {{ user_data|safe }}, {{ normal_max|safe }}],
                                            borderColor: ['rgb(252,145,3)', 'rgb(0,94,255)', 'rgb(255,0,0)'],
                                            backgroundColor: ['rgba(255,149,0,0.6)', 'rgba(0,32,255,0.48)', 'rgba(255,45,45,0.56)'],
                                            borderWidth: 3
                                        }
                                    ]
                                };

                                const config{{ label }} = {
                                    type: 'bar',
                                    data: data{{ label }},
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                position: 'top',
                                            },
                                            title: {
                                                display: false,
                                                text: '{{ info_name }}'
                                            }
                                        }
                                    },
                                };

                                var myChart{{ label }} = new Chart(
                                    document.getElementById('myChart{{ label }}'),
                                    config{{ label }}
                                );
                            </script>
                            <p align="justify">{{ info_text }}</p>
                            <br>
                        {% endfor %}
                        <p>{{ info }}</p>
                    </div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
