{% extends 'base.html' %}

{% block content %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">{% block category %}О сервисе{% endblock %}</h1>
        {% include 'inclusions/messages.html' %}

        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text mt-3" align="justify">
                    BloodTest - это учебный проект, выполненный в рамках ознакомительной практики и направленный
                    на получение первичных навыков в области проектирования и разработки информационной системы
                    для помощи врачам и пациентам в борьбе с вирусом COVID-19 во время пандемии.
                </p>
                <p class="card-text mt-3" align="justify">
                    Данный сервис служит для подсчета вероятности заболевания человека на основе таких факторов,
                    как данные анализа крови, место жительства, население и статистика заболеваемости в регионе и т.д.
                    Помимо этого пользователю так же будет наглядно показано отличие его результатов от нормы.
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text mt-3">Как использовать сервис:</p>
                <ul>
                    <li>После проведения обследования результаты анализов будут внесены в наш сервис</li>
                    <li>По кнопке "Поиск анализов" в левом меню вы перейдете на страницу поиска результатов</li>
                    <li>Введите свои данные (Имя, фамилия, СНИЛС и т.д) и нажмите кнопку "Поиск"</li>
                    <li>Если ваши анализы есть в системе, то они отобразятся в списке</li>
                    <li>Выберите необходимый анализ и получите необходимые результаты</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text mt-3">
                    Если вы не нашли необходимый результат, то его ещё не внесли в базу. Срок заполнение результатов
                    3 дня с момента получения результата анализа. Если срок превышает 3 дня, свяжитесь с медицинских
                    учреждением, предоставляющим результаты анализов.
                </p>
            </div>
            <div class="card-footer text-muted">С уважением, администрация проекта</div>
        </div>
    </div>
{% endblock %}
